.header-text {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.header-title {
    font-size: 5rem;
    margin-bottom: 30px;
    //line-height: 3.3rem;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;

    @media only screen and (max-width: 600px) {

        font-size: 48px;
        //line-height: 3.3rem;
        font-weight: 800;
        margin-left: 20px;
        margin-right: 20px;

    }
}

.header-subtitle {

    background: none !important;
    font-size: 22px;
    color: white;
    //line-height: 0px !important;

    @media only screen and (max-width: 600px) {



    }

}


mark.yellow {
    color: #fca311;
    background: none;
}

mark.twitter {
    color: white;
    background: none;
}

mark.instagram {
    color: white;
    background: none;
}

mark.whatsapp {
    color: white;
    background: none;
}