.header-text {
    color: white;
    margin-top: 15%;
    text-align: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.title {
    font-size: 5rem;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 1.5rem;
}


mark.yellow {
    color: #fca311;
    background: none;
}

mark.twitter {
    color: #1DA1F2;
    background:none;
}

mark.instagram {
    color: #833AB4;
    background:none;
}

mark.whatsapp {
    color: #25D366;
    background:none;
}