.header-container {
    color: white;
    max-width: 1000px;
    margin: auto;
    height: 70vh;
  }
  
  @media only screen and (max-width: 480px) {
    .header-container {
      height: 80vh;
    } 
  }
  
  .header-title {
    margin-top: 350px;
    text-align: center;
    font-size: clamp(40px, 8vw, 70px);
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  
  @media only screen and (max-width: 480px) {
    .header-title {
      margin-top: 200px;
    } 
  }
  
  .header-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(15px, 4vw, 22px);
    letter-spacing: 1px;
    margin-bottom: 35px;
  }

mark.yellow {
    color: #fca311;
    background: none;
}

.yellowsub {
    background-color: transparent;
    color: #fca311;
}