*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
}

ul {
  padding-top: 30px;
}

.menu__li {
  transition: background-position-x 0.9s linear;
  display: inline-block;
  height: 50px;
  margin-left: 50px;
  cursor: pointer;

  a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover a {
    color: #fca311;

  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.logo {
  vertical-align: top;
  width: 45px;
  margin-left: 20px;
  margin-top: 15px;
  float: left;
}



.menu {
  background-color: black;
  width: 1100px;
  margin: 0 auto;

}

.menu__icons {
  float: right;
  transition: background-position-x 0.9s linear;
  height: 50px;
  margin-left: 50px;

  a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:hover a {
    color: #fca311;

  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.fondo {
  background-color: black;
  border-bottom: 1px solid rgba(252, 163, 17, .5);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
}

.menu__last {
  margin-left: 30px;
}