.header-textsub {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    margin-top: 200px;
    margin-right: 550px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.header-titlesub {
    font-size: 22px;
    margin-bottom: 30px;
    //line-height: 3.3rem;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;

    @media only screen and (max-width: 600px) {

        font-size: 48px;
        //line-height: 3.3rem;
        font-weight: 800;
        margin-left: 20px;
        margin-right: 20px;

    }
}

.header-text-sub-yellow {
    background-color: transparent;
    color: #fca311;
    margin-left: 57px;


}