.team__body {
  margin: auto;
  position: relative;
  max-width: 120ch;
  margin-top: 150px;
}

.team__title {
  font-size: 25px;
  text-decoration: underline;
  color: white;
  text-underline-offset: 20px;
  text-decoration-color: #fca311;
  margin-bottom: 60px;

  @media only screen and (max-width: 600px) {
    margin-left: 20px;

  }

  @media only screen and (max-width: 1150px) {
    margin-left: 20px;

  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;

  @media only screen and (max-width: 600px) {
    padding-left: 50px;
    padding-right: 50px;

  }

}

.grid-item {
  //border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.team-card__image {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
  border-radius: 50%;

}

.team-card__name {
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.team-card__position {
  color: white;
  font-size: 15px;
  margin-top: 0px;
}