.footer {
    border-top: 1px solid rgba(252, 163, 17, .5);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    margin-top: 200px;
}

.footer__list {
    text-align: center;
    padding-top: 30px;

}



.footer__li {
    transition: background-position-x 0.9s linear;
    display: inline-block;
    height: 50px;

    a {
        color: #ffffff;
        text-decoration: none;
        transition: all 0.45s;
    }

    &:hover a {
        color: #fca311;

    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}