@font-face {
    font-family: 'Satoshi';
    src: url(../src/assets/fonts/Satoshi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../src/assets/fonts/Satoshi-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Satoshi', sans-serif;

    background-color: black;
}